# Arquivo de configuração de conexão com o banco de dados
/admin/config.php
robots.txt
sitemap.xml
gerar_sitemap.php


# Diretório de backups do banco de dados
/scripts/backups/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de imagens de produtos
/assets/img/products/

# Arquivos de IDEs
.vscode/
.idea/