# Arquivos de SEO
robots.txt
sitemap.xml
gerar_sitemap.php

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de imagens de produtos
assets/img/products/

# Arquivos de IDEs
.vscode/
.idea/